<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Voicyou Softwares . All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Voicyou_Cron::voicyou_cronindex" title="Voicyou" module="Voicyou_Cron"  sortOrder="20" dependsOnModule="Voicyou_Cron"  resource="Voicyou_Cron::voicyou_cronindex"/>
<!--AddMenu-->

  <add id="Voicyou_Cron::voicyou_cronindexsub1" title="Cron Listing" module="Voicyou_Cron" sortOrder="50"
             parent="Voicyou_Cron::voicyou_cronindex" dependsOnModule="Voicyou_Cron" action="cron/cron/index" resource="Voicyou_Cron::voicyou_cronindex"
                />
    </menu>
</config>
